APP_NAME = 'SHORT LINK REST API'
APP_VER = 1.0.0
APP_URL = 'localhost:8000'
APP_ENV = 'development'


DB_DRIVER = 'mysql'
DB_HOST = '127.0.0.1'
DB_PORT = '3306'
DB_NAME = 'db_name'
DB_USER = 'db_user'
DB_PASS = 'db_pass'
